.env
__pycache__/
.env
/football/gfootball/env
/football/build
/football/gfootball/__pycache__
/football/gfootball/scenarios/__pycache__
/module_a/football/build
/football/build
ENVIRONMENT_VARIABLES.md
env.example
/llm-commentaries-test/api_keys.txt
llm-commentaries-test/token_hugging-face.txt
llm-commentaries-test/api_keys_azure.txt
module_c/Kokoro-82M
module_b/llm_api_key.txt
module_a/football-commentator
events
Orpheus_0_1_Finetune_Inference.ipynb