.env
__pycache__/
.env
/football/gfootball/env
/football/build
/football/gfootball/__pycache__
/football/gfootball/scenarios/__pycache__
/module_a/football/build
/football/build
ENVIRONMENT_VARIABLES.md
env.example
module_c/Kokoro-82M
module_b/llm_api_key.txt